<% unless comment.archived? %>
  <p>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if user_signed_in? && comment.user == current_user %>
    <p>
      <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Tem certeza que deseja excluir?"
                  } %>
    </p>
  <% end %>
<% end %>
